<?xml version="1.0"?>
<Project xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <propertyGroup>
    <StartProgram>D:\Workpath\C++Path\3rdParty\lua\5.1\lua.exe</StartProgram>
    <StartArguments>main.lua</StartArguments>
    <StartWorkingDirectory>D:\Workpath\C++Path\LuaTest\LuaTest</StartWorkingDirectory>
    <CapturePrintMessagesToDebugOutputWindow>false</CapturePrintMessagesToDebugOutputWindow>
    <TextEncoding>65001</TextEncoding>
  </propertyGroup>
</Project>